<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png|json)$ [NC]
    RewriteRule ^ index.php [QSA,L]
</IfModule>